.Home{
    margin: 0;
}

.Info{
    margin: 4rem 0 0 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: center;
}

.Info h1{
    font-size: 80px;
    font-weight: bold;
    color: var(--main);
    margin: 0;
}

.Info h2{
    font-size: 60px;
    font-weight: bold;
    color: var(--text);
    margin: 0
}
.Info p{
    font-size: 28px;
    color: var(--text);
    overflow-wrap: break-word;
    white-space: normal;
}
.Info button{
    border: none;
    width: 15rem;
    height: 5rem; 
    border-radius: 50px;
    margin-right: 1rem;
    font-size: 34px;
    font-weight: 600;
}
#join{
    background-color: var(--main);
    color: var(--text);
}
#join:hover{
    background-color: var(--text);
    color:var(--main);
    transition: 500ms ease;
}
#learn-more{
    color: var(--bg);
    border: 4px dashed var(--main);
}
#learn-more:hover{
    color: var(--text);
    background-color: var(--bg);
    border: 4px dashed var(--main);
    transition: 500ms ease;
}
.image-container, .image-container-left{
    margin: 0 auto;
    position: relative;
} 
.image-container img{  
    position: absolute;
    top: -150px;
    right: -250px;
    margin-left: auto;
    height: 280px;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.image-container-left img{  
    position: absolute;
    margin-left: auto;
    height: 320px;
    right: -150px;
    top: -200px;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
#bottom1, #bottom2, #bottom3{
    height: 300px;
    top: -50px;
}
.image-container .img1-1,
.image-container-left .img2-1{  
    height: 300px;  
}
.image-container .img1-2,
.image-container-left .img2-2{  
    height: 300px;  
    animation-delay: 1s;
}
.image-container .img1-3,
.image-container-left .img2-3{
    animation-delay: 0.5s;
}
@keyframes float {
	0% {
		transform: translatey(1px);
	}
	25% {
		transform: translatey(-50px) translatex(-20px)  rotate(5deg);
	}
    50% {
        transform: translatey(0px) translatex(-40px)  rotate(5deg);
    }
    75% {
		transform: translatey(50px) translatex(-20px) rotate(-5deg);
    }
	100% {
		transform: translatey(0px);
	}
}

.Description{
    margin: 8rem 0;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
    align-items: center;
}

.Description h1{
    font-size: 80px;
    font-weight: bold;
    color: var(--main);
    margin: 0;
}

.Description p{
    font-size: 28px;
    color: var(--text);
    overflow-wrap: break-word;
    white-space: normal;
}
.Description span{
    color: var(--secondary);
    font-weight: 800;
}
.buttons-container{
    display:flex;
}

.button-arrow{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.button-arrow svg{
    top: 80px;
    right: 50px;
    position: absolute;
}